/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */


@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic");

body {
    margin: 0;
    padding: 0;
    font-family: 'pt sans', arial, sans-serif;
/*    font-size: 1.2em;*/
    font-size: 16px;
    font-size: 1.3em;
    line-height: normal;
}

a {
   /* color: #089b17;		*/
}
a:visited {
 /*   color: #afaf32; Цвет посещенных ссылок  — пока уберём этот поносный цвет... Надо проверить оптимайзером или как его там... */
}

a:hover {
    text-decoration: underline;
}

li a {
    text-decoration: none;
}

#page {
}

/*
 * the skip-link link will be completely hidden until a user tabs to the link.
 * see the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * header
 */

#header {
  margin-left: 35px;
}

#logo { /* wrapping link for logo */
  float: left; /* ltr */
  margin: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* wrapper for website name and slogan */
    padding-right: 10%;
    text-align: center;
}

#site-name { /* the name of the website */
    font-size: 2.5em;
    line-height: 0.6em;
  /*font-size: 32px;  */
  /*  line-height: 30px; */
    font-weight: normal !important;
    margin: 0;
    margin-top: 0.5em; 
  /*  top: -45px !important;  грязный хак, TODO: понять, что делать с normalize.css */
}

#site-slogan { /* the slogan (or tagline) of a website */
    text-align: center;
    font-size: 1.3em;
    line-height: 0.6em;
   /* font-size: 18px;  */
   /* line-height: 24px; */
    margin: 0px;
    margin-top: 0.5em; 
    font-weight: normal !important;
    color: #999;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

h1#site-name{
text-align: center;
position: absolute;
left: 40%;
top: 0.1em;
}

h2#site-slogan{
text-align: center;
position: absolute;
left: 40.3%;
top: 3em;
}

div#login-register{
/* float: right;
width: 340px; */
position: absolute;
top: 0.1em;
right: 0.75em;
}

.book-navigation .page-up {
    width: 10%;
    margin: 0px 1%;
    float: left;
}
	
.region-header { /* wrapper for any blocks placed in the header region */
  clear: both; /* clear the logo */
}



/*
 * main (container for everything else)
 */

#main {
}

/*
 * content
 */

#content {
}



.region-highlighted {
}

.breadcrumb { /* the path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* the title of the page */
h2.node-title, /* title of a piece of content when it is given in a list of content */
h2.block-title, /* block title */
h2.title, /* comment section heading */
h2.comment-form, /* comment form heading */
h3.title { /* comment title */
  margin: 0;
}

h2{
    font-weight: normal;
    font-size: 1.3em;
/*    font-size: 21px;*/
    margin-bottom: 10px;
    color: #999;
}
div.main-page-sequence-name-title h4{
    font-weight: normal;
/*    font-size: 21px;*/
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #999;
}

div.main-page-sequence-content-list ul{
    margin: 0;
    padding: 0;
}

tr.even { /* some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* drupal core uses a #eee background */
}

div.messages { /* important messages (status, warning, and error) for the user. see also the declarations in messages.css. */
  margin: 1.5em 0; /* drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* normal priority messages */
}

div.warning,
tr.warning { /* medium priority messages */
  /* border: 1px solid #f0c020; */ /* drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* high priority messages. see also the .error declaration below. */
}

.error { /* errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* drupal core uses a #e55 background */
}

.warning { /* warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* drupal core uses a #e09010 background */
}

.tabs { /* see also the tabs.css file. */
}

.region-help { /* help text on a page */
    display: none;
}

.more-help-link { /* link to more help */
}

.region-content { /* wrapper for the actual page content */
}

ul.inline { /* list of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* ltr */
}

span.field-label { /* the inline field label used by the fences module */
  padding: 0 1em 0 0; /* ltr */
}

.item-list .pager { /* a list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* the link to the rss or atom feed for the current list of content */
}

.more-link { /* aggregator, blog, and forum more link */
}

/*
 * first sidebar (on left in ltr languages, on right in rtl)
 *
 * remember to not add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first .view-content {
    font-size: 13px;
    font-size: 0.8em;
}

/*
 * second sidebar (on right in ltr languages, on left in rtl)
 *
 * remember to not add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * footer
 */

#footer {

  /*  width: 100%;
    height: 100px;
    background-color: #999;
    border-top: 5px solid #089b17;
    text-align: center;
    font-size: 40px;
    line-height: 90px;
    color: #333;  АД!!! **/
}
/*div#pages > footer{
    max-width: none;
}*/

footer div.block{
    margin-bottom: 0px;
}

/*
 * page bottom
 */

.region-bottom { /* wrapper for any blocks placed in the page bottom region */
}
