/* copy-pasted */
html, body, div, form, fieldset, legend, label, ul {
 margin: 0;
 padding: 0; 
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
th, td {
 text-align: left;
 vertical-align: top;
}
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; margin: 0 }
img { border: 0; }

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
input {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

/* my styles */

body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 16px;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}
.column-top {
    min-height: 130px;
}
.sidebar {
    float: left;
    width: 250px;
}
.sidebar li {
    list-style-type: none;
}

.brand-logo {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

.search-form input {
    width: 180px;
    height: 22px;
    border-radius: 3px;
    border: 1px solid #bbb;
}
.search-form button {
    height: 26px;
    border-radius: 3px;
    border: 1px solid #999;
    background-color: #ddd;
}

.sidebar-news li {
    position: relative;
    margin-bottom: 10px;
}
.sidebar-news i {
    position: absolute;
    left: -16px;
    top: 3px;
    font-size: 13px;
    color: #999;
}

.sidebar-invite {
    font-size: 13px;
}
.sidebar header {
    font-size: 21px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.main-column {
    float: left;
    padding-left: 70px;
    max-width: 670px;
    line-height: 1.35em;
}
.main-column .column-top > header {
    text-align: center;
    margin-top: 20px;
}
.main-column .column-top > header h1 {
    font-size: 32px;
    line-height: 30px;
    margin: 0px;
}
.main-column .column-top > header h2 {
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
}

.main-menu {
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-menu li {
    display: inline-block;
    margin-right: 10px;
}

.mainarea > p:first-child {
    margin-top: 0;
}
